@using Northwind.Models
@model IEnumerable<Category>

<ul class="list-group list-group-flush">
    @foreach (Category category in Model)
    {
        <li class="list-group-item">
            <a asp-action="CategoryDetail" asp-route-id="@category.CategoryId">@category.CategoryName - @category.Description</a>
            </li>
    }
</ul>